.container_home {
    display: flex;
    flex-direction: column;
    
}

.corpo_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 15px;
}


.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
}


.card-list {
    border: 1.5px solid black;
    border-radius: 5px;
    min-width: 50%;
    width: 100%;
    padding: 10px 20px 10px 20px;
    

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1.5px solid black;
    padding: 10px 100px 15px 20px;
}

.detalhe_usuarios{
    height: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1.5px solid black;
    padding: 10px 100px 15px 20px;
    height: 100%;
    width: 100%;
}

.search-bar {
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    width: 50vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 5px;
}