.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #16DFC4;
    gap: 25px;
    min-width: 100vw;
    height: 6vh;
}